body, html{
	height: 100%;
	overflow-y: hidden;
}

body{
	font-family:Arial, Helvetica, san-serif;
	
}

.wrapper{
	position: relative;
	background-image: url('../Graphics/Pokedex_Background.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height:85%;
	width: 100%;
	margin-top: 5%;
}

.homeBtn{
	margin-left: 26%;
}

#homeBtn{
position: absolute;
cursor: pointer;
text-decoration: none;
background: none;
border: none;
font-size: 100%;
font-weight: bold;
margin-top: 2%;
}

a.menuBtn{
position: absolute;
cursor: pointer;
color: black;
text-decoration: none;
text-align:center;
border: solid;
border-color: black;
border-width: thin;
width: 8%;
}

#pokemonBtn{
background-color: maroon;
margin-top: 5%;
margin-left: 20%;
}

#mapBtn{
background-color: lime;
margin-top: 8%;
margin-left: 33%;
}

.whiteTextfield{
	position: absolut;
	background: none;
	overflow: auto;
	height: 50%;
	width: 20%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3vh;
	line-height: 150%;
	border: none;
	margin-top: 11%;
	margin-left: 27%;
	float: left;
}

.greenTextfield{
position: relative;
overflow: auto;
background: none;
height: 59%;
width: 18%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size:  2.5vh;
line-height: 120%;
border: none;
margin-top: 11%;
margin-right: 27%;
float: right;
}


p{
margin-top: 1%;
font-size: 30px;
}




#pokemonInfo{
font-size: 4vh;
}

.mapBackground{
position: absolute;
background-color: lightskyblue;
height: 94%;
width: 98%;
}

.map{
position: relative;
background: url('../Graphics/sample_map.jpg')center center fixed;
background-size: 70%;
background-repeat: no-repeat;
height: 90%;
width: 90%;
margin-top: 2%;
margin-left: 5%;
}