body, html{
	height: 100%;
	overflow-y: hidden;
}

body{
	font-family:Arial, Helvetica, san-serif;
	background-image: url('../Graphics/Background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.wrapper{
	position: relative;
	height:85%;
	width: 100%;
	margin-top: 5%;
}

.homeBtn{
	margin-left: 26%;
}

#homeBtn{
	opacity: 0;
	display: block;
	position: absolute;
	cursor: pointer;
	margin-top: 5%;
	margin-left: 23%;
}

a.menuBtn{
	opacity: 0;
	display: block;
	position: absolute;
	cursor: pointer;
	margin-left: 28%;
}

#pokemonBtn{
	margin-top: 4%;
	width: 6%;
}

#statisticsBtn{
	margin-top: 6%;
	width: 6%;
}

#mapBtn{
	margin-top: 7%;
	width: 4%
}

.whiteTextfield{
	position: absolute;
	background: none;
	height: 43%;
	width: 22%;
	margin-top: 11%;
	margin-left: 25%;
	float: left;
}

#homeWhiteText{
	background-image: url('../Graphics/ball.png');
	background-size: 90% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-opacity: 0.5;
	overflow: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3vh;
	line-height: 150%;
}

#mapWhiteText{
	margin-top: 148px;
	margin-left: 328px;
	height: 251px;
	width: 321px;
}

.pokemonImg{
	height: 85%;
	margin-left: 10%;
}

.pokemonWhiteText{
	margin-left: 10%;
	font-family: monospace;
	font-variant: small-caps;
	font-weight: 700;
}

#pokemonID{
	position: abolute;
	font-size: 4vh;
}

#pokemonName{
	position: fixed;
	font-size: 6vh;
	margin-top: -3%;
	margin-left: 7%;
}

.greenTextfield{
	position: relative;
	overflow: scroll;
	background: none;
	height: 49%;
	width: 21%;
	font-family: monospace;
	font-weight: bold;
	font-size:  2.5vh;
	line-height: 120%;
	border: none;
	margin-top: 12%;
	margin-right: 24%;
	float: right;
}